.container {
    margin: auto;
    // width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.playarea {
    display: flex;
    flex-direction: row;
    background-color: $light-purple;
    // padding: 20px;
    // margin-bottom: 100px;
}