.grid {
    flex: 1;
    display: flex;
    padding: 10px;
    background-color: $dark-blue;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.grid-item {
    width: 100px;
    height: 100px;
    position: relative;
    vertical-align: middle;
    align-self: center;
    display: grid;
    flex: 1;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;

}

.number {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-number {
    background-color: $light-purple;
    position: relative;
    height: 90px;
    width: 90px;
    color: $dark-blue;
    display: inline-block;
    font-size: 50px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.n0 {
    @extend .grid-number;
}

.n2 {
    @extend .grid-number;
    background-color: lighten($yellow, 10%);
}

.n4 {
    @extend .grid-number;
    background-color: $yellow;
}

.n8 {
    @extend .grid-number;
    background-color: darken($yellow, 10%);
}

.n16 {
    @extend .grid-number;
    background-color: lighten($blue, 10%);
}

.n32 {
    @extend .grid-number;
    background-color: $blue;
}

.n64 {
    @extend .grid-number;
    background-color: darken($blue, 10%);
}

.n128 {
    @extend .grid-number;
    font-size: 40px;
    background-color: lighten($red, 10%);
}

.n256 {
    @extend .grid-number;
    font-size: 40px;
    background-color: $red;
}

.n512 {
    @extend .grid-number;
    font-size: 40px;
    background-color: darken($red, 10%);
}

.n1024 {
    @extend .grid-number;
    font-size: 30px;
    background-color: lighten($green, 10%)
}

.n2048 {
    @extend .grid-number;
    font-size: 30px;
    background-color: $green;
    color:lighten($blue,10%);
}

.n4096 {
    @extend .grid-number;
    font-size: 30px;
    background-color: darken($green, 10%);
    color: lighten($blue, 20%);
}

.n8192 {
    @extend .grid-number;
    font-size: 30px;
    background-color: darken($green, 30%);
    color: lighten($blue, 30%);
}

.n16384 {
    @extend .grid-number;
    font-size: 25px;
    background-color: darken($green, 50%)
}