.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.score-text {
    font-size: 1.2rem;
    color: $dark-blue;
    font-weight: bold;
}

.score-number {
    font-size: 1.2rem;
    color: $dark-blue;
    font-weight: bold;
}