* {
    box-sizing: border-box;
    // background-color: $light-purple;
}

:focus {
    outline: none;
}

body {
    // color: darkgrey;
    font-family: Helvetica, Arial, sans-serif;
    background-color: $light-purple;
    // font-size: ;
    // line-height: 1.6;
}